.react-paginate ul {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}

.react-paginate li {
	display: inline-block;
}

.react-paginate .break a {
	cursor: default;
}

.pointsTable {
	width: 50% !important;
}

.squaresTable {
	width: 40% !important;

}

.table-row img {
	cursor: pointer;
}

.table th, .table td {
	text-align: center;
}

#coordinates {
	display: inline;
	width: 80px;
	margin: 5px 0 5px 0;
}

#coordinates-btn {
	display: inline;
	width: 50px;
	margin: 5px 0 5px 0;
}

.pointsComponent {
	display: inline-block;
}

.addition-form {
	display: inline-block;
	position: absolute;
}

.navigation-item text{
	margin-left: -15px;

}

.navigation-item a {
	position: relative;
	display: inline-block!important;
	width: 170px;
	text-align: center;
}
.navigation-item img {
	position: absolute;
	display: none;
}
.navigation-item:hover img {
	position: absolute;
	display: inline;
	right: 10%;
	margin-top: 10px;
	cursor: pointer;
}

.navigation-header img {
	position: relative;
	margin: 0 0 10px 20px;
	cursor: pointer;
}
.navigation-header h1 {
	position: relative;
	display: inline-block!important;
}

.home {
	cursor: pointer;
}

.pageSizePicker {
	width: 65px;
}

.fileInput {
	position: fixed;
	right:50px;

}
